{% extends "base.html" %}

{% block content %}
<section class="container-fluid">
    <div class="row">
        <div class="col-12 text-center my-4">
            <h1 class="text-success">Artículos educativos</h1>
            <p>Bienvenido al módulo de educación e información, acá podrás encontrar diferentes artículos para que te informes mejor sobre tu nutrición.</p>
        </div>
    </div>
    <div class="row g-3">
        <div class="col-md-4 col-sm-12 ">
            <div class="card border-success">
                <div class="card-body">
                    <h5 class="card-title">¿Cómo leer etiquetas nutricionales?</h5>
                    <p class="card-text">Es muy importante aprender a leer etiquetas nutricionales, ya que la mayoría de las personas no saben como hacerlo.</p>
                    <a href="https://conecta.tec.mx/es/noticias/san-luis-potosi/salud/las-etiquetas-de-tus-alimentos-dicen-mucho-aprende-leerlas" class="card-link">Artículo</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 ">
            <div class="card border-success">
                <div class="card-body">
                    <h5 class="card-title">Mitos y verdades sobre las dietas de moda</h5>
                    <p class="card-text">Estas dietas prometen resultados rápidos e impactantes, pero no tienen bases científicas sólidas.</p>
                    <a href="https://www.mediclarlab.com/blog/6-dietas-de-moda-sus-mitos-y-realidades" class="card-link">Artículo</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 ">
            <div class="card border-success">
                <div class="card-body">
                    <h5 class="card-title">Los macronutrientes y su función</h5>
                    <p class="card-text">Tu cuerpo necesita estos nutrientes para mantener un funcionamiento adecuado.</p>
                    <a href="https://es.integrativenutrition.com/blog/what-are-macronutrients" class="card-link">Artículo</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-3 mt-3">
        <div class="col-md-6 col-sm-12">
            <div class="card border-success">
                <div class="card-body">
                    <h5 class="card-title">La hidratación</h5>
                    <p class="card-text">El agua es esencial para el ser humano en cualquier etapa de la vida.</p>
                    <a href="https://www.gob.mx/salud/articulos/la-importancia-de-una-buena-hidratacion" class="card-link">Artículo</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card border-success">
                <div class="card-body">
                    <h5 class="card-title">La fibra</h5>
                    <p class="card-text">La fibra es un carbohidrato muy escencial que mejora la digestión y previene el estreñimiento.</p>
                    <a href="https://medlineplus.gov/spanish/ency/article/002470.htm" class="card-link">Artículo</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}