{% extends "base.html" %}

{% block content %}
<section class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Herramientas</h1>
            <p>Bienvenido al módulo de herramientas, acá podrás encontrar diversas calculadoras y un analizador de recetas.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-auto col-sm-12 m-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Calculadora de IMC</h5>
                    <p class="card-text">Calcula tu índice de masa corporal.</p>
                    <a href="/herramientas/imc" class="card-link">Calculadora</a>
                </div>
            </div>
        </div>
        <div class="col-auto col-sm-12 m-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Calculadora de TMB</h5>
                    <p class="card-text">Calcula tu tasa metabólica basal.</p>
                    <a href="/herramientas/tmb" class="card-link">Calculadora</a>
                </div>
            </div>
        </div>
        <div class="col-auto col-sm-12 m-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Calculadora de GCT</h5>
                    <p class="card-text">Calcula tu gasto energético total.</p>
                    <a href="/herramientas/gct" class="card-link">Calculadora</a>
                </div>
            </div>
        </div>
        <div class="col-auto col-sm-12 m-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Calculadora de peso ideal</h5>
                    <p class="card-text">Pudes usar la calculadora de IMC</p>
                    <a href="/herramientas/imc" class="card-link">Calculadora</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}