{% extends "base.html" %}

{% block content %}
<section class="container-fluid">
    <div class="row bg-success-subtle">
        <div class="col-md-6 col-sm-12">
            <h1>NutriApp</h1>
            <p>Bienvenido a NutriApp, este es el mejor lugar para las cosas relacionadas con tu nutrición.</p>
            <p>Tenemos varias herramientas, como calculadoras que te ayudaran a conocer , un banco de recetas, </p>
        </div>
        <div class="col-md-6 col-sm-12">
            <img src="{{url_for("static", filename="images/app.png")}}" class="img-fluid my-4" alt="Teléfono">
        </div>
    </div>
</section>
{% endblock %}