{% extends "base.html" %}

{% block content %}
<section class="container-fluid bg-success-subtle">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h1>nutriApp</h1>
            <p>Bienvenido a nutriApp, este es el mejor lugar para las cosas relacionadas con tu nutrición, tenemos varias herramientas como varias calculadoras, un analizador de alimentos, una base de datos, etc.</p>
        </div>
        <div class="col-md-6 col-sm-12">
            <img src="{{url_for("static", filename="images/app.png")}}" class="img-fluid my-4" alt="Teléfono">
        </div>
    </div>
</section>
{% endblock %}